<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
    <link rel="stylesheet" href="/stylesheets/cart.style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Cart.</h1>
        <div class="navContainer">
            <nav>
                <a href="/shop">Home</a>
                <a href="">Products</a>
            </nav>
            <nav>
                <a href="/cart">Cart</a>
                <a href="">My account</a>
            </nav>
        </div>
    </header>

    <main>
        <section class="product">
                <div class="productImg">
                    <img src="https://leatherbaba.com/wp-content/uploads/2022/10/best-travel-bags-for-mens.jpg" alt="">
                </div>
                <div class="nameXprice">
                    <div class="name">
                        <p>Clinge Bag</p>
                        <div class="addXcancel">
                            <div class="add">
                                <i class="ri-add-fill"></i>
                            </div>
                            <div class="quantity">
                                1
                            </div>
                            <div class="cancel">
                                <i class="ri-subtract-fill"></i>
                            </div>
                        </div>
                    </div>
                    <div class="total">
                        <p>Net Total</p>
                        <p>&#8377; 1200</p>
                    </div>
                    
                </div>
        </section>

        <section class="details">
            <div class="breakdown">
                <h2>Prices Breakdown</h2>
                <table>
                    <tr>
                        <td>Total MRP</td>
                        <td>&#8377; 1920</td>
                    </tr>
                    <tr>
                        <td>Discount on MRP</td>
                        <td>&#8377; 0</td>
                    </tr>
                    <tr>
                        <td>Platform Fee</td>
                        <td>&#8377; 20</td>
                    </tr>
                    <tr>
                        <td>Shipping Fee</td>
                        <td>FREE</td>
                    </tr>
                </table>
            </div>
            <div class="finalAmt">
                <h2>Total Amount</h2>
                <h2 id="price">&#8377;1940</h2>
            </div>
            <button>Place Order</button>
        </section>
    </main>
</body>
</html>

